<?php

$title = 'My albums'; //used in the layout
$this->headTitle($title); //displays in the browsers title bar
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>
<p>
	<a href="<?php echo $this->url('album', array('action'=>'add'));?>">Add new album</a>
</p>

<table class="table">
	<tr>
		<th>Title</th>
		<th>Artist</th>
		<th>&nbsp;</th>
	</tr>
	<?php foreach($albums as $album): ?>
		<tr>
			<!-- the escapeHtml() view helper protects against XSS vulnerabilities -->
			<td><?php echo $this->escapeHtml($album->title); ?></td>
			<td><?php echo $this->escapeHtml($album->artist); ?></td>
			<td>
				<!-- url() is a view helper used to create links. first param is route name, second param is array of all variables to fit into the placeholders to use (i.e. /album/:action/:id) -->
				<a href="<?php echo $this->url('album', array('action'=>'edit', 'id'=>$album->id));?>">Edit</a>
				<a href="<?php echo $this->url('album', array('action'=>'delete', 'id'=>$album->id));?>">Delete</a>
			</td>
		</tr>
        <?php endforeach; ?>
</table>